html,
body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  cursor: crosshair;
}

.mt-5 {
  margin-top: 5rem !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(243, 247, 45, 0.2);
  border-radius: 2px;
  background-color: #000000;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #1f1f1f;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgb(70, 70, 70);
  background-color: #171717;
}
@media screen and (max-width: 768px) {
  body, html {
    overflow-x: hidden !important;
  }
}

h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 15%;
  text-align: center;
  position: relative;
  background: #ecb601;
  border: 0;
}
.hr2 {
  height: 2px;
  width: 25%;
  text-align: center;
  position: relative;
  background: #bdbdbc;
  border: 0;
  margin-top: -5px;
}
.hr3 {
  height: 2px;
  width: 50%;
  text-align: center;
  position: relative;
  background: #ecb601;
  border: 0;
  margin-top: -5px;
}
/* Navigation */

#menu {
  /* padding: 10px; */
  transition: all 0.8s;
  overflow-x: hidden !important;
  cursor: crosshair;
  overflow: hidden;
}
#menu h2 {
  font-size: 30px;
  font-weight: 200;
  background: linear-gradient(to right, #ffffff 0%, #a9a8a3 100%);
  margin-bottom: 20px;
  /* Set the background color */
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  margin-top: -10px;
  margin-bottom: -20px;
}

@media screen and (max-width: 768px) {
  #menu h2 {
    font-size: 25px;
    font-weight: 200;
    background: linear-gradient(to right, #ffffff 0%, #a9a8a3 100%);
    margin-bottom: 20px;
    /* Set the background color */
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
    margin-top: -10px;
    margin-bottom: -200px;
    margin-left: 5%;
  }
}

#menu.navbar-default {
  background-color: rgb(0, 0, 0);
  border-color: rgb(42, 42, 42);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-width: 100vw;
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

#menu.navbar-default .navbar-nav > li:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.3s;
  /* When the animation is finished, start again */
  cursor: crosshair;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
  cursor: crosshair;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(237, 190, 88) 0%,
    rgb(233, 196, 28) 100%
  );
  content: "";
  transition: width 0.2s;
}
/* #menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
} */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(
    to right,
    rgb(237, 190, 88) 0%,
    rgb(233, 196, 28) 100%
  );
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 20px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #fafafa 0%, #73777c 100%);
  height: 2px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffe7a3;
  background-image: linear-gradient(to right, #dfab3b 0%, #dabf27 100%);
  padding: 14px 50px;
  letter-spacing: 1px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
  position: relative;
  top: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.btn-custom2:hover,
.btn-custom2:focus,
.btn-custom2.focus,
.btn-custom2:active,
.btn-custom2.active {
  color: #fff;
  background-image: none;
  background-color: #f1d221;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #21a5f1;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
#header {
  background-color: #000;
  position: relative;
}
.headerTitle {
  position: absolute;
}

#header h2 {
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  position: absolute;
  top: 42%;
  left: 25.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  font-weight: 700;
  color: rgb(244, 190, 54);
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  position: absolute;
  top: 52%;
  left: 29%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#header hr {
  position: absolute;
  width: 190%;
  height: 0.75px;
  background: linear-gradient(to right, #f9cb4b 0%, #efecc9 100%) !important;
  left: -200%;
  z-index: 9999999;
}

#header .social {
  position: absolute;
  text-align: center;
  top: 64.5%;
  right: 55%;
}
#header .social ul li {
  display: inline-block;
  margin: 0 7px;
  box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.5);
}
#header .social i.fa {
  font-size: 27px;
  width: 41px;
  height: 40px;
  padding-top: 4.5px;
  padding-left: 1px;
  background-color: #fff;
  border: 2px solid rgb(207, 183, 131);
  color: rgb(49, 49, 49);
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.5);
}
#header .social i.fa:hover {
  color: #f8e537;
  background: #fff;
}
.headerPhoto {
  width: 33vw;
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 57%;
}
#video {
  object-fit: contain;
  width: 100%;
  margin-top: 1rem;
  animation: shake 0.4s;
  animation-delay: 0.7s;
  -webkit-mask: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  filter: blur(1px) grayscale(0.9);
  -webkit-filter: blur(1px) grayscale(0.9);
  -moz-filter: blur(1px) grayscale(0.9);
  -o-filter: blur(1px) grayscale(0.9);
  -ms-filter: blur(1px) grayscale(0.9);
}

@media screen and (max-width: 1024px) {
  .headerPhoto {
    top: 20%;
    width: 37vw;
  }
}
@media screen and (max-width: 768px) {
  .headerPhoto {
    top: 25%;
    width: 33vw;
  }
  #header h2 {
    font-size: 6vw;
    top: 33%;
    left: 24%;
  }
  #header h1 {
    font-size: 6vw;
    top: 49%;
    left: 29%;
  }
  #header .social {
    position: absolute;
    text-align: center;
    top: 63.5%;
    right: 53%;
  }
  #header hr {
    position: absolute;
    width: 190%;
    height: 0.5px;
    background: linear-gradient(to right, #f9cb4b 0%, #efecc9 100%) !important;
    left: -200%;
    z-index: 9999999;
  }
}
@media screen and (max-width: 600px) {
  .headerPhoto {
    top: 22%;
    width: 33vw;
  }
  #header h2 {
    font-size: 8vw;
    top: 30%;
    left: 23%;
  }
  #header h1 {
    font-size: 8vw;
    top: 42%;
    left: 28%;
  }
  #header .social {
    position: absolute;
    text-align: center;
    top: 55.5%;
    right: 55%;
  }
  #header hr {
    position: absolute;
    width: 190%;
    height: 0.75px;
    background: linear-gradient(to right, #f9cb4b 0%, #efecc9 100%) !important;
    left: -200%;
    z-index: 9999999;
    top: -35%;
  }
  #header .social i.fa {
    font-size: 20px;
    width: 31px;
    height: 30px;
    padding-top: 1.75px;
    padding-left: 1px;
    background-color: #fff;
    border: 2px solid rgb(207, 183, 131);
    color: rgb(49, 49, 49);
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 425px) {
  #video {
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .headerPhoto {
    top: 32%;
    width: 36vw;
  }
  #header h2 {
    font-size: 6vw;
    top: 42%;
    left: 23%;
  }
  #header h1 {
    font-size: 6vw;
    top: 50%;
    left: 28%;
  }
  #header .social {
    position: absolute;
    text-align: center;
    top: 59.5%;
    right: 50%;
  }
  #header hr {
    margin: 15 0 0 0;
    position: absolute;
    width: 190%;
    height: 0.75px;
    background: linear-gradient(to right, #f9cb4b 0%, #efecc9 100%) !important;
    left: -200%;
  }
  #header .social i.fa {
    font-size: 18px;
    width: 30px;
    height: 29px;
    padding-top: 2.5px;
    padding-left: 0.5px;
    background-color: #fff;
    border: 2px solid rgb(207, 183, 131);
    color: rgb(49, 49, 49);
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.5);
  }
}

/* @media screen and (max-width: 768px) {
  #video {
    filter: brightness(50%);
    object-fit: contain;
    width: 100%;
    margin-top: 10%;
  }
} */

/* Features Section */

#features i.fa {
  font-size: 39px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #ebc51c 0%, #f3df6a 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
#features h2 {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #ffffff 0%, #d3d2cb 100%);
  margin-bottom: 20px;
  /* Set the background color */
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}

#features h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
/* About Section */
.modal-content {
  height: 80%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  background-color: transparent;
  background: linear-gradient(to top, #ffffff 0%, #f2f2f2 100%);
}
.modal-footer {
  padding-top: 5px !important;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.modal-body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
.modal-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(139, 138, 131);
  background-color: #e3e3e3;
}
.modal-body {
  max-height: 68%;
  overflow-y: scroll;
  padding: 0 !important;
  border-radius: 5px;
  border: 1px solid rgb(234, 234, 234);
}
.modalImage {
  width: 100%;
}
.phone {
  width: auto;
  height: 60%;
}

.desktop {
  width: 100%;
  height: auto !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal-title {
  margin-bottom: 1%;
  font-size: 1rem;
  font-weight: 500 !important;
  color: rgb(33, 33, 33) !important;
  text-transform: uppercase;
}
.rotateIn {
  animation: rotateIn 0.5s;
}
@keyframes rotateIn {
  0% {
    scale: 0;
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -250deg);
    opacity: 0;
  }
  90% {
    scale: 1.02;
    transform-origin: center;
    opacity: 1;
  }

  100% {
    scale: 1;
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
.spin:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: rotate 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 10ms;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes grow {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
/* background */
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 200vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#about {
  position: relative;
  background-image: url(../img/circuit.jpg);
  background-size: cover;
  background-position: center;
  cursor: crosshair;
  margin-bottom: -5px;
}

.aboutButton {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 0!important;
}
/* Flashlight Overlay */

:root:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.75) 100%
  );
}
.layer {
  background: rgba(0, 0, 0, 0.99);
  position: absolute;
  width: 100%;
  height: 100%;
  contain: content;
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0, 0, 0, 0.15) 10%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0.66) 66%,
    rgba(0, 0, 0, 0.99) 100%
  );
}

#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  font-weight: 300;
  background: linear-gradient(to right, #ffffff 0%, #d3d2cb 100%);
  margin-bottom: 20px;
  /* Set the background color */
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
}

#about a {
  color: rgb(0, 0, 0);
  font-size: 0.5rem;
  font-weight: 500 !important;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  background: #fff;
  font-size: 2vw;
  padding: 0.7vw;
}

#about a:hover {
  color: rgb(0, 0, 0);
  font-weight: 500 !important;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  transition: ease-in-out 0.5s;
  margin-bottom: 20px;
  padding: 0.7vw;
}

.dev {
  margin-top: 3.9rem;
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: black !important;
  background: rgb(244, 190, 54) !important;
}

#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #dfab3b;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  padding-top: 2%;
  filter: brightness(90%);
}
#about h1 {
  font-size: 3vw;
  z-index: 99999999999;
  font-weight: 300;
}
#about p {
  line-height: 24px;
  margin: 10px 0;
}
.daveDiv {
  position: absolute;
  width: 80%;
  height: auto;
  z-index: 999;
  top: 3.5%;
  left: 15%;
}
.scrolling-words-container {
  position: absolute;
  top: 90%;
  margin-top: 5%;
}
.dave {
  color: #6372ff;
}
.message1 {
  font-family: "Raleway", sans-serif;
  position: relative;
  width: 81%;
  height: auto;
  z-index: 999999999;
  color: rgb(255, 255, 255);
  font-size: 4vw !important;
}

.messageText {
  font-family: "Raleway", sans-serif;
  z-index: 999999;
  color: rgb(255, 255, 255);
  font-size: 2vw !important;
}
.daveImg {
  width: 25% !important;
  height: auto;
  margin-bottom: 20px;
}
.htmlImg {
  position: absolute;
  width: 11%;
  height: auto;
  z-index: 999;
  top: 20%;
  left: 58.5%;
}
.cssImg {
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 999;
  top: 20%;
  left: 43%;
}
.jsImg {
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 999;
  top: 20%;
  left: 28%;
}
.bsImg {
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 999;
  top: 41%;
  left: 20%;
}
.reactImg {
  position: absolute;
  width: 22%;
  height: auto;
  z-index: 999;
  top: 44%;
  left: 42%;
  transform: translate(-50%, -50%);
}

.electronImg {
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 999;
  top: 42%;
  left: 71%;
}
.nodeJsImg {
  position: absolute;
  width: 18%;
  height: auto;
  z-index: 999;
  top: 55%;
  left: 41.5%;
}
.mongoDbImg {
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 999;
  top: 77%;
  left: 43%;
}
.mongoDbImg {
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 999;
  top: 77%;
  left: 43%;
}
.daveCartoon {
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 999;
  top: 89%;
  left: 20%;
  filter: brightness(90%);
}

.responsive {
  width: 50% !important;
  position: absolute;
  top: 29.5%;
  left: 37%;
  z-index: 1 !important;
}

.dissapear:hover {
  opacity: 0;
  transition: 0.3s;
}

.responsive3 {
  width: 44% !important;
  position: absolute;
  top: 49%;
  left: 11%;
  z-index: 1 !important;
  filter: brightness(20%);
}

.contactButton {
  position: absolute;
  top: 11%;
  left: 64%;
  z-index: 99;
}

.greet {
  width: 40%;
  padding: 0 10px;
  position: absolute;
  top: 12%;
  left: 35%;
  z-index: 999;
  float: left;
  flex-wrap: wrap;
}

.half {
  width: 32%;
  position: absolute;
  z-index: 999;
  top: 7.5%;
  margin-left: 42.5%;
}

.half2 {
  width: 69%;
  padding: 0 10px;
  position: absolute;
  top: 32%;
  left: 9%;
  z-index: 999;
  float: left;
  flex-wrap: wrap;
}

.half3 {
  width: 52%;
  padding: 0 10px;
  position: absolute;
  top: 52%;
  left: 39%;
  z-index: 999;
  float: left;
  flex-wrap: wrap;
}
.half4 {
  width: 42%;
  padding: 0 10px;
  position: absolute;
  top: 72%;
  left: 31%;
  z-index: 999;
  float: left;
  flex-wrap: wrap;
}

.typewriter h1 {
  font-size: 3.1vw;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 00;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 2.9s steps(23, end), blink-caret 0.5s step-end infinite;
}

.line__1 h1,
.line__2 h1,
.line__3 h1,
.line__4 h1,
.line__5 h1,
.line__6 h1,
.line__7 h1,
.line__8 h1,
.line__9 h1 {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  font-family: Raleway, sans-serif;
  font-size: 20px !important;
  color: rgb(255, 255, 255);
  margin: auto;
}

.line__1 {
  border-right: 2px solid rgb(230, 230, 230);

  /* define animation types for text + cursor */
  animation: animated-text__1 2s steps(20, end) 2s 1 normal both,
    animated-cursor__1 2s steps(23, end) 2;
}

.mobileImg {
  display: none;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(0, 0, 0, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(0, 0, 0, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 45rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(233, 196, 28);
  }
}
.follow {
  animation: follow 0.2s linear infinite;
}

@keyframes follow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.pulse {
  background: transparent;
  animation: pulse-white 1.5s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(1);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  25% {
    transform: scale(1.05);
    transform: rotate3d(0, 0, 1, 1deg);
  }

  50% {
    transform: scale(1.05);
    transform: rotate3d(0, 0, 1, -0deg);
  }
  75% {
    transform: scale(1.05);
    transform: rotate3d(0, 0, 1, -1deg);
  }

  100% {
    transform: scale(1.05);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.hide {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  #about h1 {
    font-size: 3.2vw;
    z-index: 99999999999;
    font-weight: 300;
  }
  .daveDiv {
    position: absolute;
    width: 80%;
    height: auto;
    z-index: 999;
    top: 8.5%;
    left: 15%;
  }
  .contactButton {
    position: absolute;
    height: auto;
    z-index: 999;
    margin-right: 4%;
    margin-top: 7%;
  }
  .half {
    width: 32%;
    position: absolute;
    z-index: 999;
    margin-top: 8%;
  }
  .htmlImg {
    position: absolute;
    width: 10%;
    height: auto;
    z-index: 999;
    top: 19%;
    left: 59%;
  }
  .cssImg {
    position: absolute;
    width: 10%;
    height: auto;
    z-index: 999;
    top: 19%;
    left: 43%;
  }
  .jsImg {
    position: absolute;
    width: 10%;
    height: auto;
    z-index: 999;
    top: 19%;
    left: 28%;
  }
  .bsImg {
    position: absolute;
    width: 10%;
    height: auto;
    z-index: 999;
    top: 37%;
    left: 20%;
  }
  .reactImg {
    position: absolute;
    width: 22%;
    height: auto;
    z-index: 999;
    top: 44.5%;
    left: 42%;
  }
  .electronImg {
    position: absolute;
    width: 10%;
    height: auto;
    z-index: 999;
    top: 39.5%;
    left: 71%;
  }
  .nodeJsImg {
    position: absolute;
    width: 15%;
    height: auto;
    z-index: 999;
    top: 53%;
    left: 43%;
  }
  .mongoDbImg {
    position: absolute;
    width: 15%;
    height: auto;
    z-index: 999;
    top: 73%;
    left: 42%;
  }
  .responsive {
    width: 50% !important;
    position: absolute;
    top: 27.5%;
    left: 43%;
    z-index: 1 !important;
  }

  .dissapear:hover {
    opacity: 0;
    transition: 0.3s;
  }

  .responsive3 {
    width: 44% !important;
    position: absolute;
    top: 46.5%;
    left: 6%;
    z-index: 1 !important;
    filter: brightness(20%);
  }
  .greet {
    width: 40%;
    padding: 0 10px;
    position: absolute;
    top: 12%;
    left: 35%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }

  .half {
    width: 34%;
    position: absolute;
    z-index: 999;
    top: 7.5%;
    margin-left: 42.5%;
  }

  .half2 {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 32%;
    left: 11%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }

  .half3 {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 52%;
    left: 34%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }
  .half4 {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 70%;
    left: 31%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  #testimonials h2 {
    font-size: 6vw !important;
  }
  .desktopImg {
    display: none;
  }
  .mobileImg {
    display: block;
  }
  #about {
    margin-top: -50px;
    margin-bottom: -50px;
  }
  #about a {
    font-size: 3.5vw;
    z-index: 99999999999;
    font-weight: 300;
  }
  .contactButton {
    position: absolute;
    height: auto;
    z-index: 999;
    margin-top: 7%;
  }
  .scrolling-words-container {
    margin-top: -80px !important;
    width: 100% !important;
  }
  .scrolling-words-box {
    height: 0px;
    width: 100% !important;
  }
  #about h2 {
    font-size: 6.2vw;
    z-index: 99999999999;
    font-weight: 300;
  }
  #about h1 {
    font-size: 4.5vw;
    z-index: 99999999999;
    font-weight: 300;
  }
  .about {
    height: 100px !important;
  }
  .daveDiv {
    position: absolute;
    width: 80%;
    height: auto;
    z-index: 999;
    top: 5%;
    left: 5%;
  }
  .contactButton {
    position: absolute;
    height: auto;
    z-index: 999;
    margin-right: 4%;
    margin-top: 7%;
  }
  .half {
    width: 12%;
    position: absolute;
    z-index: 999;
    margin-top: 3%;
  }
  .htmlImg {
    position: absolute;
    width: 18%;
    height: auto;
    z-index: 999;
    top: 16%;
    left: 61.5%;
  }
  .cssImg {
    position: absolute;
    width: 15%;
    height: auto;
    z-index: 999;
    top: 16%;
    left: 42%;
  }
  .jsImg {
    position: absolute;
    width: 17%;
    height: auto;
    z-index: 999;
    top: 16%;
    left: 20%;
  }
  .bsImg {
    position: absolute;
    width: 15%;
    height: auto;
    z-index: 999;
    top: 38%;
    left: 14%;
  }
  .reactImg {
    position: absolute;
    width: 27%;
    height: auto;
    z-index: 999;
    top: 44.5%;
    left: 42%;
  }
  .electronImg {
    position: absolute;
    width: 17%;
    height: auto;
    z-index: 999;
    top: 40%;
    left: 74%;
  }
  .nodeJsImg {
    position: absolute;
    width: 25%;
    height: auto;
    z-index: 999;
    top: 54%;
    left: 39.5%;
  }
  .mongoDbImg {
    position: absolute;
    width: 27%;
    height: auto;
    z-index: 999;
    top: 76%;
    left: 38.5%;
  }
  .responsive {
    width: 58% !important;
    position: absolute;
    top: 28.5%;
    left: 42%;
    z-index: 1 !important;
  }

  .dissapear:hover {
    opacity: 0;
    transition: 0.3s;
  }

  .responsive3 {
    width: 47% !important;
    position: absolute;
    top: 48%;
    left: 2%;
    z-index: 1 !important;
    filter: brightness(20%);
  }
  .greet {
    width: 40%;
    padding: 0 10px;
    position: absolute;
    top: 12%;
    left: 35%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }

  .half {
    width: 47%;
    position: absolute;
    z-index: 999;
    top: 7.5%;
    margin-left: 38.5%;
  }

  .half2 {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 32%;
    left: 3%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }

  .half3 {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 52%;
    left: 28%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }
  .half4 {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 72%;
    left: 26%;
    z-index: 999;
    float: left;
    flex-wrap: wrap;
  }
  #contact h2 {
    font-size: 6vw !important;
  }
}
/* Services Section */
#services {
  padding: 100px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: #fff;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
}
#services .service-desc {
  margin-bottom: 40px;
}
/* Portfolio Section */
#portfolio {
  padding: 10px 0;
}
.portfolio-item {
  margin: 0 auto;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 90%;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(123, 176, 245, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 10% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 1%;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  width: auto;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 0.1;
}
.hover-bg img {
  border-radius: 1%;
}
/* 
/* Testimonials Section */
#testimonials {
  background: linear-gradient(to bottom, #000000 0%, #080808 100%);
  cursor: crosshair !important;
}

#testimonials h2 {
  border-bottom: #e4cc61 2px solid;
}

#testimonials p {
  text-decoration: none;
  color: #7f7f7f !important;
  margin-top: -3%;
}
/* .borderDash {
  border: 0.4rem dashed rgb(191, 191, 191);
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
} */

/* .spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  background: linear-gradient(to bottom, #5b5b5b 0%, #080808 100%);
  transition: all 0.4s;
} */

.bord:hover .spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #080808 0%, #171717 100%);
  transition: all 0.3s;
  transform: rotate3d(0, 0, 1, 360deg);
  transition-delay: 300ms;
}
.previewImg {
  align-self: center;
  max-height: 190px !important;
}

/* #testimonials i {
  color: #000000!important;
  font-size: 35px!important;
  margin-top: 7px;
}
#testimonials i:hover {
  color: #eae70c!important;
  font-size: 35px!important;
  margin-top: 7px;
  transition: all 0.3s;
} */
#testimonials i.fa {
  font-size: 27px;
  width: 33px;
  height: 35px;
  padding-top: 3.5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(235, 235, 235);
  color: rgb(49, 49, 49);
  border-radius: 50%;
  transition: all 0.3s;
}
#testimonials i.fa-github:hover {
  border: 1px solid rgb(235, 235, 235);
  color: #d7c735 !important;
  transition: all 0.3s;
  animation: rotate 1s ease-in-out;
}
#testimonials p:hover {
  color: #d7c735 !important;
  transition: all 0.3s;
}

/* i.fa-times :hover{
  color: #d73835!important;
  transition: all 0.3s;
} */
.fa-times {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px !important;
  background-color: transparent !important;
  border: none !important;
  color: rgb(150, 150, 150) !important;
  transition: all 0.3s;
  animation: none !important;
}

#testimonials h2 {
  font-size: 4vw;
  font-weight: 200;
  font-family: Raleway, sans-serif;
  color: #fff;
  float: right;
}

#testimonials hr {
  margin-top: 5px !important;
  padding: auto !important;
  margin: 0 auto;
  background: #c5c5c5 !important;
  height: 1px !important;
  margin-bottom: 5px !important;
}

#testimonials span {
  transition: all 0.2s !important;
  cursor: crosshair !important;
}
#testimonials h2 span:hover {
  background: linear-gradient(to right, #b8ad77 0%, #e4c31b 100%);
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  font-size: 4.3vw;
  cursor: auto;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: auto;
  min-height: 50px;
}
@keyframes myanimation {
  from {
    transform: rotate(0deg) scale(1);
    border-radius: 0px;
  }
  to {
    border-radius: 100px;
    transform: rotate(360deg) scale(0.7);
  }
}

@keyframes reverse {
  from {
    border-radius: 100px;
    transform: rotate(360deg) scale(0.7);
  }
  to {
    border-radius: 0px;
    transform: rotate(0deg) scale(1);
  }
}
.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.previewImg {
  -webkit-filter: sepia(80%);
  -moz-filter: sepia(80%);
  filter: grayscale(100%);
  /* filter: brightness(0.8); */
  transition: all 0.5s ease;
}
.previewImg:hover {
  -webkit-filter: sepia(0%);
  -moz-filter: sepia(0%);
  filter: grayscale(0%);
  transform: scale(1.05);
}

#testimonials {
  position: relative;
}
.dashed {
  padding-top: 20px;
  border: dashed 3.5px rgb(167, 143, 94);
  border-radius: 10px;
  cursor: crosshair !important;
  margin: auto;
  padding: 10px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .dashed {
    padding-top: 20px;
    padding-bottom: 20px;
    border: dashed 2px rgb(167, 143, 94);
    border-radius: 10px;
    cursor: crosshair !important;
    margin: auto;
    padding: 10px;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .dashed {
    padding-top: 20px;
    border: dashed 1px rgb(167, 143, 94);
    border-radius: 10px;
    cursor: crosshair !important;
    margin: auto;
    padding: 10px;
    width: 90%;
  }
}

#testimonials h3 {
  font-size: 1em;
  font-weight: 100;
  color: white;
}

.smallLogo {
  width: 120px;
  height: auto;
}
.smallLogo:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.testimonial-image {
  min-height: 240px;
}


@media screen and (max-width: 480px) {
  .testimonial-image {
    min-height: 150px;
  }
}

.testimonial-image:hover h3 {
  color: rgb(255, 245, 223) !important;
  transform: scale(1);
}
/* key frames rotate */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.testimonial-image img:hover {
  display: block;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer !important;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
#testimonials i:hover {
  cursor: pointer !important;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

.animate {
  font-size: 50px;
  background: #000;
  height: 400px;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}

/* Animation Four */

.four span {
  color: #8d6a00;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
}

@keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* Dave section */
#dave {
  padding: 10px 0;
  background: linear-gradient(to bottom, #000000 0%, #080808 100%);
}

#dave h1 {
  margin: 70px;
  font-size: 30px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  color: #fff;
}
.speech:before {
  left: 30px;
  bottom: -50px;
  border: 25px solid;
  border-color: #333 transparent transparent #333;
}

.speech:after {
  left: 38px;
  bottom: -30px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}

#dave h2 {
  margin-top: 80px;
  font-size: 3vw !important;
}

#dave p {
  text-decoration: none;
  color: #7f7f7f !important;
  margin-top: -3%;
}
/* .borderDash {
  border: 0.4rem dashed rgb(191, 191, 191);
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
} */

/* .spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  background: linear-gradient(to bottom, #5b5b5b 0%, #080808 100%);
  transition: all 0.4s;
} */

.bord:hover .spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #080808 0%, #171717 100%);
  transition: all 0.3s;
  transform: rotate3d(0, 0, 1, 360deg);
  transition-delay: 300ms;
}
.previewImg {
  align-self: center;
}
.noPad {
  padding-left: 1 !important;
  padding-right: 1 !important;
}
/* #dave i {
  color: #000000!important;
  font-size: 35px!important;
  margin-top: 7px;
}
#dave i:hover {
  color: #eae70c!important;
  font-size: 35px!important;
  margin-top: 7px;
  transition: all 0.3s;
} */
#dave i.fa {
  font-size: 27px;
  width: 33px;
  height: 35px;
  padding-top: 3.5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(235, 235, 235);
  color: rgb(49, 49, 49);
  border-radius: 50%;
  transition: all 0.3s;
}
#dave i.fa-github:hover {
  border: 1px solid rgb(235, 235, 235);
  color: #d7c735 !important;
  transition: all 0.3s;
  animation: rotate 1s ease-in-out;
}
#dave p:hover {
  color: #d7c735 !important;
  transition: all 0.3s;
}

/* i.fa-times :hover{
  color: #d73835!important;
  transition: all 0.3s;
} */
.fa-times {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px !important;
  background-color: transparent !important;
  border: none !important;
  color: rgb(150, 150, 150) !important;
  transition: all 0.3s;
  animation: none !important;
}

#dave {
  margin-top: -400px;
  background: transparent;
}

#dave h2 {
  font-size: 4vw;
  font-weight: 200;
  font-family: Raleway, sans-serif;
  color: #fff;
  float: right;
}

.smallIcon {
  width: 80px;
  height: auto;
  padding: 0 5px;
}
#dave hr {
  margin-top: 5px !important;
  padding: auto !important;
  margin: 0 auto;
  background: #c5c5c5 !important;
  height: 1px !important;
  margin-bottom: 5px !important;
}

#dave span {
  transition: all 0.2s !important;
  min-height: 50px;
  cursor: crosshair !important;
}
#dave h2 span:hover {
  background: linear-gradient(to right, #b8ad77 0%, #e4c31b 100%);
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  font-size: 4.3vw;
  cursor: auto;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: auto;
  min-height: 50px;
}

@keyframes myanimation {
  from {
    transform: rotate(0deg) scale(1);
    border-radius: 0px;
  }
  to {
    border-radius: 100px;
    transform: rotate(360deg) scale(0.7);
  }
}

@keyframes reverse {
  from {
    border-radius: 100px;
    transform: rotate(360deg) scale(0.7);
  }
  to {
    border-radius: 0px;
    transform: rotate(0deg) scale(1);
  }
}
.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.previewImg {
  -webkit-filter: sepia(80%);
  -moz-filter: sepia(80%);
  filter: grayscale(100%);
  /* filter: brightness(0.8); */
  transition: all 0.5s ease;
}
.previewImg:hover {
  -webkit-filter: sepia(0%);
  -moz-filter: sepia(0%);
  filter: grayscale(0%);
  transform: scale(1.05);
}

.preview-image::before,
.preview-image::after {
  content: "";
  width: 0;
  height: 0;
  /*   opacity:0; */
  border: 0 solid #000;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  transition-property: border-color, width, height;
  transition-duration: 0.15s;
}
.preview-image::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
  transition-delay: 0.35s, 0.25s, 0s;
}
.preview-image::after {
  border-top-width: 1px;
  border-right-width: 1px;
  transition-delay: 0.35s, 0s, 0.25s;
}
.preview-image:hover::before,
.preview-image:hover::after {
  width: 100%;
  /*   opacity:1; */
  height: 100%;
  border-color: #79693f;
  transition-duration: 0s, 0.25s, 0.25s;
}
.preview-image:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.preview-image:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
#dave {
  position: relative;
}

#dave h3 {
  font-size: 1em;
  font-weight: 100;
  color: white;
}
.testimonial-image {
  padding: 10px !important;
  max-height: 190px;
  border-radius: 10px;
}
.smallLogo {
  width: 120px;
  height: auto;
}
.smallLogo:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
/* .testimonial-image:hover {
  animation: shake .3s;
} */

.testimonial-image:hover h3 {
  color: rgb(255, 245, 223) !important;
  transform: scale(1);
}
/* key frames rotate */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.testimonial-image img:hover {
  display: block;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

/* Team Section */
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 20px 0 60px;
  background: linear-gradient(to bottom, #080808 0%, #000000 100%);
  color: rgb(49, 49, 49);
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  font-size: 4vw;
  font-weight: 200;
  font-family: Raleway, sans-serif;
  color: #fff;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#contact h4 {
  color: rgb(255, 255, 255);
}

#contact p {
  color: rgb(183, 183, 183);
}

#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: #e4cc61;
  height: 2px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: rgb(255, 255, 255);
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin-top: 10px;
  margin-bottom: 50px;
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(49, 49, 49);
}
#contact .btn-custom:hover {
  color: #f8e537;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
  box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.5);
}
#contact .social i.fa {
  font-size: 42px;
  width: 66px;
  height: 68px;
  padding-top: 9px;
  padding-left: 1px;
  background-color: #fff;
  border: 2px solid rgb(207, 183, 131);
  color: rgb(49, 49, 49);
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.5);
}
#contact .social i.fa:hover {
  color: #f8e537;
  background: #fff;
}
/* Footer Section*/
#footer {
  background: #000000;
  padding: 30px 0;
}
#footer p {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}

.mb-5 {
  margin-bottom: 50px;
}

.borderRound {
  border: 1px solid rgba(187, 186, 186, 0.527);
  box-shadow: 0 5 3 3 rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.border {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 5 3 3 rgba(0, 0, 0, 5) !important;
}
.controlled {
  border: 1px solid rgb(209, 208, 208);
  box-shadow: 0 5 3 3 rgba(0, 0, 0, 1);
  border-radius: 2px;
  max-width: 500px;
  max-height: 800px;
  overflow-x: auto;
}
.limitHeight {
  max-height: 1200px;
  overflow-x: auto;
  padding-left: -500px;
  padding-right: -500px;
}
.limitHeightSmall {
  overflow-x: auto;
  padding-left: -500px;
  padding-right: -500px;
}

.mb5 {
  margin-bottom: 100px;
}

.appstore {
  width: 40%;
  padding: 5%;
}

.width-35 {
  width: 35%;
}

.budgetModal {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  /* color: #2c2c2c */
}

.modalBudget {
  margin-bottom: -55px !important;
  display: flex;
  justify-content: start;
  margin-bottom: -15px;
}

.font-italic {
  font-style: italic;
}

.goldColor {
  color: #ecb601;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.border2 {
  border-radius: 1%;
}

.bgwhite {
  background-color: rgb(247, 247, 247);
}
.crewCoinGifSmall {
  width: 15%;
}
.crewCoinGifSmaller {
  width: 7%;
}

.hover:hover {
  cursor: pointer;
  transform: scaleY(1.02);
  border: 1px solid #c2c1c1 !important;
  background-color: #fffef9 !important;
}

.storeModalImg {
  width: 70%;
}

.goldColorSmall {
  color: #ecb601;
  font-weight: bold;
  font-size: 1.5rem;
}

.video-responsive {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* game */
