.scrolling-words-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600; 
    margin-top: -50px;
    
  }
  
  .scrolling-words-box {
    padding-top: 1.5rem;
    height: 9.6rem;
    margin-right: 10px;
    overflow: hidden;
    width: auto;
    
    ul {
      padding: 0;
      animation: scrollUp 5s infinite;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 4.9em;
        list-style: none;

      }
    }
  }
  
  // Variables
  $item-count: 5;
  
  @keyframes scrollUp {
    @for $i from 1 through ($item-count - 1) {
      #{($i * 25) - 10%}, #{$i * 25%} {
        transform: translateY((-100% / $item-count) * $i);
      }
    }
  }
  // button animation
  @mixin magic-border($width, $color, $duration, $direction){
    position:relative;
      &:before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height:calc(100% + #{$width * 2});
        top:calc(#{$width}/-1);
        left:calc(#{$width}/-1);
        background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
        background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        background-repeat:no-repeat, no-repeat;
        transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
        transform:scaleX(0) rotate(180deg * $direction);
        transition-delay:$duration*2, $duration, 0s;
      }
      &:hover{
        &:before{
          background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
          background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
          transform:scaleX(1) rotate(180deg * $direction);
          transition-delay:0s, $duration, $duration*2;
        }
      }
  }
  
  @mixin magic-border-mask($width, $duration, $background, $direction){
    position:relative;
      &:before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height:calc(100% + #{$width * 2});
        top:calc(#{$width}/-1);
        left:calc(#{$width}/-1);
        mask:linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
        mask-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        mask-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        mask-repeat:no-repeat, no-repeat;
        transition:transform $duration ease-in-out, mask-position $duration ease-in-out, mask-size $duration ease-in-out;
        transform:scaleX(0) rotate(180deg * $direction);
        transition-delay:$duration*2, $duration, 0s;
        background:$background;
            }
      &:hover{
        &:before{
          mask-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
          mask-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
          transform:scaleX(1) rotate(180deg * $direction);
          transition-delay:0s, $duration, $duration*2;
        }
      }
  }
  
      #about a{

        @include magic-border(4px, rgb(238, 238, 238), 0.1s, 0);
        flex-grow:2;
        cursor:pointer;
        &:nth-of-type(2){
          @include magic-border(4px, #222, 0.2s, 1);
        }
        &:nth-of-type(3){
          @include magic-border-mask(10px, 0.4s, linear-gradient(to bottom, #40e0d0, #ff8c00, #ff0080), 0);
          align-self:flex-end;
        }
      }
